.slider-container {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.top-section {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    width: 100%;
    padding: 0 20px;
    margin-top: 5rem;
}

.logbutton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.log-butt {
    max-width: 100%;
    height: auto;
    display: block;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center;
    margin-top: 2rem; 
}

.about {
    margin-top: 5rem;
    text-align: center; 
}

.desc-text {
    margin-top: 5rem;
    text-align: left;
    width: min(790px, 80%);
    color: black;
    font-size: 18px;
}

@media (max-width: 1150px) {
    .top-section {
        flex-direction: column;
        gap: 1rem;
    }

    .log-butt {
        max-width: 80%;
    }

    .slider-container {
        padding: 10px;
    }
}

@media (max-width: 768px) {
    .top-section {
        gap: 1rem;
    }

    .log-butt {
        max-width: 70%;
    }

    .slider-container {
        padding: 10px;
    }
}

@media (max-width: 480px) {
    .top-section {
        gap: 1rem;
    }

    .log-butt {
        max-width: 60%;
    }

    .slider-container {
        padding: 5px;
    }
}
