PORT=xxxx
DB_HOST=xxxx
DB_USERNAME=xxxx
DB_PASSWORD=xxxx
DB_NAME=xxxx
JWT_SECRET=xxxxxxx

API_KEY=xxxxxxxxx
AUTH_DOMAIN=xxxxxxxxx
PROJECT_ID=xxxxxxxxx
STORAGE_BUCKET=xxxxxxxxx
MESSAGING_SENDER_ID=xxxxxxxxx
APP_ID=xxxxxxxxx
MEASRUREMENT_ID=xxxxxxxxx